<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<title>{{title}}</title>
		<link rel="stylesheet" type="text/css" href="/assets/css/body.css" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script src="/assets/js/app.js"></script>
		<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-12896175-10']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
		</script>
	</head>
	<body>
		<div id="header">
			<ul>
				<li><a {% if site.findstuff %}style="color:red;"{%else%}style="color:black;"{% endif %} href="http://{{server_name}}/site?site=findstuff">Stuff</a></li>
				<li><a {% if site.findjobs %}style="color:red;"{%else%}style="color:black;"{% endif %} href="http://{{server_name}}/site?site=findjobs">Jobs</a></li>
				<li><a {% if site.findgigs %}style="color:red;"{%else%}style="color:black;"{% endif %} href="http://{{server_name}}/site?site=findgigs">Gigs</a></li>
				<li><a {% if site.findplaces %}style="color:red;"{%else%}style="color:black;"{% endif %} href="http://{{server_name}}/site?site=findplaces">Places</a></li>
				<li><a {% if site.findservices %}style="color:red;"{%else%}style="color:black;"{% endif %} href="http://{{server_name}}/site?site=findservices">Services</a></li>
			</ul>
			<div style="clear: both;"></div>
		</div>
		{% block content %}{% endblock %}
	</body>
</html>