{% verbatim %}
<!DOCTYPE html>
<html ng-app="myKraigsList">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<title>MyKraigslist</title>
		<link rel="stylesheet" type="text/css" href="/assets/css/body.css" />
		<script src="/assets/js/lib/angular.js"></script>
		<script src="/assets/js/lib/underscore.js"></script>
		<script src="/assets/js/lib/angular-route.js"></script>
		<script src="/assets/js/lib/angular-resource.js"></script>
		<script src="/assets/js/lib/heartcode-canvasloader.js"></script>
		<script src="/assets/js/app/myKraigsList.js"></script>
	</head>

	<body>
		<div id="header" ng-controller="headerCtrlr">
			<ul>
				<li><a ng-class="{active:site == 'stuff', inactive: site != 'stuff'}" href="/stuff">Stuff</a></li>
				<li><a ng-class="{active:site == 'jobs', inactive: site != 'jobs'}" href="/jobs">Jobs</a></li>
				<li><a ng-class="{active:site == 'gigs', inactive: site != 'gigs'}" href="/gigs">Gigs</a></li>
				<li><a ng-class="{active:site == 'places', inactive: site != 'places'}" href="/places">Places</a></li>
				<li><a ng-class="{active:site == 'services', inactive: site != 'services'}" href="/services">Services</a></li>
			</ul>
		</div>
		<div ng-view=""></div>
		<div id="content-container" ng-controller="contentCtrlr">
			<div id="link_content">
				<div id="canvasloader-container"></div>
				<div ng-show="isRendered">
					<div ng-repeat="dates in results">
						<h1>{{dates.date}}</h1>
						<div class="date">
							<div ng-repeat="(location, records) in dates.records">
								<h2>{{location | filterdotname}}</h2>
								<ul class="locationItems">
									<li ng-repeat="rec in records">
										<a class="jobsite" title="{{rec.title}}" target="_blank" href="{{rec.link}}">
											<span>{{rec.title}}</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
{% endverbatim %}